* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

.content-box {
	background-image: url('https://github.com/masumbillah6778/images/raw/main/stone-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.form-box {
	background-color: rgba(0, 0, 0 , .8);
	width: 500px;
	height: 250px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid yellow;
	border-radius: 20px;
}

.form-box h1 {
	text-align: center;
	color: yellow;
	padding: 10px;
	font-family: 'Times';
	font-weight: bold;
	border-bottom: 2px solid;
}

.input-box {
  width: 100%;
  height: 40px;
  margin: 60px 40px;
  position: relative;
}

.form-box input {
	background-color: transparent;
	color: yellow;
	width: 60%;
	padding: 10px;
	font-size: 30px;
	font-family: 'Times';
	font-weight: bold;
	position: relative;
	border: solid 2px re;
	z-index: 10;
}

.input-box input[type="password"]:focus {
	background-color: transparent;
	border-color: transparent;
}

.input-box input[type="password"]:focus ~ .input-border {
	background-color: ;
}

.input-box .input-border {
	width: 0;
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}

.input-box .input-border:before,
.input-box .input-border:after {
	content: '';
	width: 0;
	display: block;
	top: 0;
	bottom: 0;
	position: absolute;
	-webkit-transition: 0.3s ease-in-out all;
	transition: 0.3s ease-in-out all;
}

.input-box .input-border:after {
	display: none;
}

.input-box.from-side input[type="password"]:focus ~ .input-border {
	width: 60%;
	height: 40px;
	padding: 29px;
	opacity: 1;
}
.input-box.from-side input[type="password"]:focus ~ .input-border:before,
.input-box.from-side input[type="password"]:focus ~ .input-border:after {
	width: 50%;
}

.input-box.from-side .input-border {
	opacity: 0;
}

.input-box.from-side .input-border:before, .input-box.from-side .input-border:after {
	content: '';
	width: 0;
	display: block;
	top: 0;
	bottom: 0;
	position: absolute;
	transition: 0.3s ease-in-out all;
	-webkit-transition: 0.3s ease-in-out all;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.input-box.from-side .input-border:before {
	border: solid 2px yellow;
	border-right: 0;
	left: 0;
}

.input-box.from-side .input-border:after {
	border: solid 2px red;
	border-left: 0;
	right: 0;
}

.form-box input::placeholder {
	color: white;
	font-size: 30px;
	opacity: .3;
}

.form-box button {
	background-color: transparent;
	color: yellow;
	padding: 10px;
	font-size: 30px;
	font-family: 'Times';
	font-weight: bold;
	cursor: pointer;
}

.form-box button:hover {
	color: red;
}

#error {
	color: white;
	padding-top: 20px;
	font-size: 28px;
	font-family: 'Times';
	text-shadow: 1px 1px 2px yellow, 0 0 1px blue, 0 0 5px green ;
}







/*======================================= Mobile Screen =======================================*/

@media only screen and (max-width: 400px) {
	.content-box {
		background-image: url('https://github.com/masumbillah6778/images/raw/main/stone-bg2.jpg');
		background-attachment: fixed;
		background-size: cover;
		width: 100%;
		height: 500px;
	}

	.form-box {
		background-color: rgba(0, 0, 0 , .8);
		width: 300px;
		height: 200px;
		border: 2px solid yellow;
	}

	.form-box h1 {
		font-size: 20px;
	}

	.form-box input {
		background-color: transparent;
		color: yellow;
		width: 60%;
		margin-left: 0px;
		padding: 10px;
		font-size: 20px;
	}

	.input-box {
	  width: 100%;
	  height: 40px;
	  margin: 30px 10px;
	  position: relative;
	}

	.input-box.from-side input[type="password"]:focus ~ .input-border {
		width: 51.5%;
		height: 40px;
		padding: 23px;
		opacity: 1;
	}

	.input-box.from-side .input-border:before {
		margin-left: 0px;
	}

	.input-box.from-side .input-border:after {
		margin-left: 0;
	}

	.form-box input::placeholder {
		color: white;
		font-size: 20px;
		opacity: .3;
	}

	.form-box button {
		color: yellow;
		padding: 10px;
		font-size: 20px;
	}

	#error {
		color: white;
		margin: 0px 10px;
		padding-top: 20px;
		font-size: 15px;
	}
}
