body {
	background-image: url('https://github.com/masumbillah6778/images/raw/main/stone-bg.jpg');
	background-attachment: fixed;
	background-size: cover;
	color: #333;
}

.form-box {
	background-color: rgba(0, 0, 0 , .8);
	color: #000;
	width: 500px;
	margin: 50px auto;
	padding: 10px 0;
}

.form-box h1 {
	text-align: center;
	color: yellow;
	border-bottom: 2px solid;
}

.input-box {
	width: 80%;
	margin: 31px auto;
}

.form-box input {
	background-color: blue;
	color: yellow;
	padding: 10px;
	font-size: 20px;
	font-family: ;
	font-weight: bold;
}

.form-box input::placeholder {
	color: white;
}

.form-box button {
	background-color: blue;
	color: yellow;
	padding: 10px;
	font-size: 20px;
	font-family: ;
	font-weight: bold;
	cursor: pointer;
}

.form-box button:hover {
	background-color: red;
	color: white;
}

#error {
	color: red;
}
